body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width:990px;
    margin :auto;
    min-height:400px;

}
#header{
    height: 100px;
    line-height: 100px;
    text-align:center;
    background-color:rgb(245, 99, 99);
    font-size:20px;
    font-weight:bold;
}
#nav{
    min-height: 300px;
    width:200px;
    color:#d6fa0a;
    font-weight: bold;
    background-color:#5864cf;
    float:left;
    margin :10px 0px;
}
#nav #menuup {
    width:200px;
    border-bottom: 10px solid white;
    float: left;
}


#nav #menudow {
    width:200px;
    float:left;
    margin :10px 0px;
}

#content{
    border:1px solid #cc3366;
    width:758px;
    min-height: 400px;
    padding:10px;
    float:left;
    margin:10px 0px 10px 10px;
}

#footer{
    height:50px;
    line-height:50px;
    text-align:center;
    background-color: #cc6633;
    color:#fff;
    font-weight: bold;
    clear:both;
}

#nav ul{
    margin-left: 0px;
    padding:0px;
    list-style: none;
    text-align: left;
}

#nav ul li{
    height:30px;
    line-height: 30px;
    
    border-bottom: 1px solid rgb(241, 7, 124)
}
#nav ul li a{
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color:rgb(24, 23, 23);
   
}
#nav ul li a:hover
{
    background-color:forestgreen;
    color: #fff;
}
#nav ul li a:active
{
    padding-left: 0px;
    background-color:rgb(14, 247, 235);
    color: #fff;
}
#header a{
    text-decoration: none;
    color:rgb(241, 236, 236);
    
}

#nav_login
{
    margin: 10px 0 0 0;
    background-color: #cc66cc;
    text-align: right;
    height: 30px;
    line-height: 30px;
    
}
#search
{
    background-color: #cc66cc;
    text-align: right;
    height: 60px;
    line-height: 30px;
    
}
#user
{
    text-decoration: none;
    color: aqua;
}
#user:hover
{
    color: #fff;
    
}

chưa chỉnh màu
.hangct{
    margin: 5px;
    float:right;
    width: 250px;
    text-align: center;
}


.boxct{
     margin: 5px;
     float:left;
     width: 250px;
     min-height: 150px;
     text-align: center;
 }
.boxct:nth-child(3even){
    border-top: 5px solid rgb(156,211,165);
    margin-right: 15px;
}
.boxct:nth-child(odd){
    border-top:5px solid rgb(235, 239, 241);
    margin-left: 15px;
}
.boxct img{
    width:230px;
    min-height: 150px;
    margin: 0px 10px auto;
    
}
.pnamect{
    font: bold 14px arial;
    color: #f39;
    margin-top:5px;
}
.ppricect{
    font: bold 12px arial;
    color:#f30;
}
.actionct{
    font:italic bold 10px arial;
    margin-right: 30px;
    margin-bottom: 10px;
    color:rgb(102, 255, 166);
    text-align: right;
}
.ten{
    color: aliceblue;
    text-align: center;
}

.box{
    margin: 5px;
    float:left;
    width: 250px;
    min-height: 307px;
    text-align: center;
}
.box:nth-child(even){
    border-top: 5px solid rgb(156,211,165);
    margin-right: 15px;
}
.box:nth-child(odd){
    border-top:5px solid rgb(119,184,219);
    margin-left: 15px;
}
.box img{
    width:230px;
    height: 150px;
    margin: 10px auto;
}
.pname{
    font: bold 14px arial;
    color: #f39;
    margin-top:5px;
}
.pprice{
    font: bold 12px arial;
    color:#f30;
}
.action{
    font:italic bold 10px arial;
    margin-right: 30px;
    margin-bottom: 10px;
    color:rgb(16, 55, 231);
    text-align: right;
}
#tt
{
    margin:10px 0px 10px 10px;
    width:758px;
    min-height: 150px;
}
#tp
{
   
    margin:10px ;
    width:758px;
    min-height: 150px;
    float: left;
}
#new
{
    margin:10px 0px 10px 10px;
    width:758px;
    min-height: 250px;
}
#top
{
    margin:10px ;
    width:758px;
    min-height: 250px;
    float: left;
}
li{
    list-style: none;
    margin-left: 30px; 
    margin-top: 10px;

}
div h3
{
    color: #099bf0;
    
}
#to a
{
    color: #f30;
}
#khung
{
    margin: 20px auto;
    border:1px solid #eeeef1;
    width:500px;
    min-height:400px;
    
}
#to li
{
    text-align: center;
}

#regist
{
    margin: 10px 0px 10px 440px;
}









